@import url(reset.css);
.clearfix:after {
  display: block;
  clear: both;
  content: ''; }

.ban-n {
  height: 120px;
  background: #EEEEEE; }
  .ban-n .ban-box {
    width: 1226px;
    margin: 0 auto; }

nav {
  background: #363636;
  width: 100%;
  height: 40px;
  font-size: 12px; }
  nav .dao-h {
    width: 1226px;
    margin: 0 auto; }
    nav .dao-h .ul-daoh {
      float: left;
      margin-top: 14px; }
      nav .dao-h .ul-daoh li {
        float: left; }
        nav .dao-h .ul-daoh li a {
          display: inline-block;
          padding: 0 0.9rem 0 0.8rem;
          border-left: 1px solid #454545;
          color: #B0B0B0;
          line-height: 12px; }
        nav .dao-h .ul-daoh li a:hover {
          color: orangered; }
      nav .dao-h .ul-daoh li:nth-of-type(1) a {
        padding-left: 0;
        border-left: none; }
    nav .dao-h .nav-r {
      float: right; }
      nav .dao-h .nav-r .ul-dengl {
        float: left;
        line-height: 40px; }
        nav .dao-h .nav-r .ul-dengl li {
          float: left; }
          nav .dao-h .nav-r .ul-dengl li a {
            border-left: 1px solid #454545;
            padding: 0 7px;
            color: #B0B0B0;
            display: inline-block;
            line-height: 12px; }
          nav .dao-h .nav-r .ul-dengl li a:hover {
            color: orangered; }
        nav .dao-h .nav-r .ul-dengl li:nth-of-type(1) a {
          border-left: none; }
      nav .dao-h .nav-r .xiaoxi {
        float: left;
        padding: 0 18px 0 0px;
        margin-top: 14px; }
        nav .dao-h .nav-r .xiaoxi a {
          border-left: 1px solid #454545;
          padding: 0 0.7rem;
          color: #B0B0B0;
          display: inline-block;
          line-height: 12px; }
      nav .dao-h .nav-r .gouwuche {
        width: 120px;
        height: 40px;
        background: #424242;
        float: left;
        text-align: center;
        position: relative; }
        nav .dao-h .nav-r .gouwuche a {
          color: #B0B0B0; }
          nav .dao-h .nav-r .gouwuche a img {
            margin-top: 14px;
            float: left;
            margin-left: 18px; }
          nav .dao-h .nav-r .gouwuche a span {
            float: left;
            margin-top: 14px;
            margin-left: 4px; }
        nav .dao-h .nav-r .gouwuche .nav-che {
          width: 300px;
          height: 100px;
          background: yellow;
          position: absolute;
          top: 40px;
          left: -150px;
          z-index: 3;
          display: none; }

main {
  width: 1226px;
  margin: 0 auto; }
  main .xiaomi-ss {
    height: 100px; }
    main .xiaomi-ss p {
      float: left;
      margin-top: 21px; }
    main .xiaomi-ss p:nth-of-type(2) {
      margin-left: 80px; }
    main .xiaomi-ss .ul-jies {
      float: left;
      font-size: 12px;
      margin-top: 41px;
      margin-left: 70px; }
      main .xiaomi-ss .ul-jies li {
        float: left;
        margin: 0 10px; }
        main .xiaomi-ss .ul-jies li a {
          color: #000; }
        main .xiaomi-ss .ul-jies li a:hover {
          color: orangered; }
    main .xiaomi-ss h6 {
      float: right;
      margin-top: 28px; }
      main .xiaomi-ss h6 input {
        float: left;
        height: 30px;
        text-align: center; }
      main .xiaomi-ss h6 span {
        float: left;
        display: block;
        border: 1px solid #A9A9A9;
        border-left: none;
        height: 34px; }
        main .xiaomi-ss h6 span img {
          width: 100%;
          height: 100%; }
  main .lun-bo {
    position: relative;
    height: 460px; }
    main .lun-bo .swiper-pagination {
      text-align: end;
      margin-left: -100px; }
    main .lun-bo .yi {
      position: absolute; }
    main .lun-bo .er {
      position: absolute; }
    main .lun-bo .san {
      position: absolute; }
    main .lun-bo .si {
      position: absolute; }
    main .lun-bo .wu {
      position: absolute; }
    main .lun-bo .ul-ding {
      position: absolute;
      width: 235px;
      font-size: 12px;
      padding: 20px 0px;
      background: rgba(0, 0, 0, 0.4);
      z-index: 200;
      top: 0px; }
      main .lun-bo .ul-ding li {
        position: relative;
        padding: 15px 15px;
        color: white; }
        main .lun-bo .ul-ding li p:nth-of-type(1) {
          float: left; }
        main .lun-bo .ul-ding li p:nth-of-type(2) {
          float: right; }
        main .lun-bo .ul-ding li .che-li1 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -20px;
          display: none;
          font-size: 40px; }
        main .lun-bo .ul-ding li .che-li2 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -62px;
          display: none;
          font-size: 40px; }
        main .lun-bo .ul-ding li .che-li3 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -104px;
          display: none;
          font-size: 40px; }
        main .lun-bo .ul-ding li .che-li4 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -146px;
          display: none;
          font-size: 40px; }
        main .lun-bo .ul-ding li .che-li5 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -188px;
          display: none;
          font-size: 40px; }
        main .lun-bo .ul-ding li .che-li6 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -230px;
          display: none;
          font-size: 40px; }
        main .lun-bo .ul-ding li .che-li7 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -272px;
          display: none;
          font-size: 40px; }
        main .lun-bo .ul-ding li .che-li8 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -314px;
          display: none;
          font-size: 40px; }
        main .lun-bo .ul-ding li .che-li9 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -356px;
          display: none;
          font-size: 40px; }
        main .lun-bo .ul-ding li .che-li10 {
          width: 800px;
          height: 450px;
          background: orangered;
          position: absolute;
          left: 235px;
          top: -398px;
          display: none;
          font-size: 40px; }
      main .lun-bo .ul-ding li:hover {
        background: red;
        cursor: pointer; }
        main .lun-bo .ul-ding li:hover div {
          display: block; }
    main .lun-bo .img1 {
      position: absolute;
      z-index: 8;
      top: 200px;
      left: 250px;
      cursor: pointer; }
    main .lun-bo .img2 {
      position: absolute;
      z-index: 8;
      top: 200px;
      right: 10px;
      cursor: pointer; }
    main .lun-bo .dian {
      position: absolute;
      top: 420px;
      text-align: end;
      width: 100%;
      margin-right: 20px; }
      main .lun-bo .dian span {
        display: inline-block;
        width: 8px;
        height: 8px;
        border: 1px solid white;
        border-radius: 50%;
        background: #000;
        opacity: 0.4; }
      main .lun-bo .dian span:nth-of-type(5) {
        margin-right: 50px;
        background: white; }
  main .gong-n {
    width: 100%;
    margin-top: 12px; }
    main .gong-n .gong-n1 {
      width: 230px;
      background: #5F5750;
      float: left;
      padding: 0 3px 0 2px; }
      main .gong-n .gong-n1 ol {
        width: 100%; }
        main .gong-n .gong-n1 ol li {
          float: left;
          width: 76px;
          text-align: center;
          padding: 20px 0;
          font-size: 12px; }
          main .gong-n .gong-n1 ol li p {
            margin-top: 6px;
            color: white; }
        main .gong-n .gong-n1 ol li:nth-of-type(1) {
          border-bottom: 1px solid #ccc; }
        main .gong-n .gong-n1 ol li:nth-of-type(2) {
          border: 1px solid #ccc;
          border-top: none; }
        main .gong-n .gong-n1 ol li:nth-of-type(3) {
          border-bottom: 1px solid #ccc; }
        main .gong-n .gong-n1 ol li:nth-of-type(5) {
          border: 1px solid #ccc;
          border-top: none;
          border-bottom: none; }
    main .gong-n .ul-n2 {
      width: 991px;
      float: left; }
      main .gong-n .ul-n2 li {
        width: 318px;
        float: left;
        margin-left: 12px; }
        main .gong-n .ul-n2 li img {
          width: 100%; }
  main h3 {
    width: 100%;
    font-size: 1.4rem;
    line-height: 25px;
    margin-top: 42px; }
    main h3 .h3-a {
      float: left; }
    main h3 .h3-b {
      float: right;
      font-size: 1.4px; }
      main h3 .h3-b span {
        display: inline-block;
        border: 1px solid #ccc;
        text-align: center;
        float: left;
        height: 15px;
        width: 20px;
        line-height: 15px;
        margin-top: 4px; }
      main h3 .h3-b span:nth-of-type(1) {
        color: #ccc;
        border-right: none; }
  main .ul-xiaomi {
    margin-top: 16px;
    padding-bottom: 40px; }
    main .ul-xiaomi li {
      width: 235.6px;
      background: #FAFAFA;
      text-align: center;
      font-size: 14px;
      padding-bottom: 42px;
      float: left;
      margin-left: 12px;
      transition: 0.3s; }
      main .ul-xiaomi li a {
        color: #000000; }
        main .ul-xiaomi li a p:nth-of-type(1) {
          padding-top: 40px;
          width: 110px;
          margin: 0 auto; }
          main .ul-xiaomi li a p:nth-of-type(1) img {
            width: 100%; }
        main .ul-xiaomi li a p:nth-of-type(2) {
          margin-top: 36px; }
        main .ul-xiaomi li a p:nth-of-type(3) {
          margin-top: 12px;
          color: #ccc; }
        main .ul-xiaomi li a span {
          display: block;
          margin-top: 17px;
          color: #FF752F; }
    main .ul-xiaomi li:nth-of-type(1) {
      border-top: #FCE1B0 2px solid;
      margin-left: 0; }
    main .ul-xiaomi li:nth-of-type(2) {
      border-top: #D4E9C3 2px solid; }
    main .ul-xiaomi li:nth-of-type(3) {
      border-top: #B5DAF8 2px solid; }
    main .ul-xiaomi li:nth-of-type(4) {
      border-top: #F3BCBB 2px solid; }
    main .ul-xiaomi li:nth-of-type(5) {
      border-top: #AAE7DF 2px solid; }
    main .ul-xiaomi li:hover {
      box-shadow: 5px 5px 10px 2px #ccc;
      transform: scale(1.02);
      margin-top: -5px; }

.laoda {
  background: #F5F5F5; }

.mains {
  width: 1226px;
  margin: 0 auto;
  padding-bottom: 60px;
  padding-top: 38px; }
  .mains .jiaD h5 {
    margin-bottom: 1rem;
    margin-top: 38px; }
    .mains .jiaD h5 p {
      float: left;
      font-size: 1.4rem; }
    .mains .jiaD h5 ul {
      float: right; }
      .mains .jiaD h5 ul li {
        float: left;
        margin-left: 1rem;
        font-size: 1rem;
        padding-bottom: 0.4rem; }
      .mains .jiaD h5 ul li:nth-of-type(1) {
        border-bottom: 2px solid orangered; }
  .mains .jiaD .jiaD-div .jiaD-div-left {
    float: left;
    width: 235px;
    height: 615px; }
    .mains .jiaD .jiaD-div .jiaD-div-left img {
      width: 100%;
      display: block; }
    .mains .jiaD .jiaD-div .jiaD-div-left p:nth-of-type(2) {
      margin-top: 12px; }
  .mains .jiaD .jiaD-div .jiaD-div-right {
    float: left;
    width: 991px;
    height: 615px; }
    .mains .jiaD .jiaD-div .jiaD-div-right li {
      width: 235px;
      height: 301.5px;
      float: left;
      text-align: center;
      background: white;
      margin-left: 12px;
      position: relative;
      transition: 0.4s; }
      .mains .jiaD .jiaD-div .jiaD-div-right li a {
        color: #000; }
        .mains .jiaD .jiaD-div .jiaD-div-right li a p:nth-of-type(1) {
          margin-top: 16px; }
          .mains .jiaD .jiaD-div .jiaD-div-right li a p:nth-of-type(1) img {
            width: 160px;
            height: 160px; }
        .mains .jiaD .jiaD-div .jiaD-div-right li a p:nth-of-type(3) {
          color: #B0B0B0;
          font-size: 12px;
          margin-top: 8px; }
        .mains .jiaD .jiaD-div .jiaD-div-right li a p:nth-of-type(4) {
          color: #B0B0B0;
          font-size: 14px;
          margin-top: 16px; }
          .mains .jiaD .jiaD-div .jiaD-div-right li a p:nth-of-type(4) span {
            color: orangered; }
          .mains .jiaD .jiaD-div .jiaD-div-right li a p:nth-of-type(4) i {
            text-decoration: line-through; }
        .mains .jiaD .jiaD-div .jiaD-div-right li a .dw {
          background: #E53C38;
          color: white;
          width: 50px;
          padding: 0.2rem 0.6rem;
          position: absolute;
          top: 0;
          left: 90px; }
    .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(5) {
      margin-top: 12px; }
    .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(6) {
      margin-top: 12px; }
    .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(7) {
      margin-top: 12px; }
    .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) {
      margin-top: 12px; }
      .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) .div1 {
        height: 134px;
        font-size: 12px; }
        .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) .div1 .divzi {
          float: left;
          margin-top: 42px;
          margin-left: 30px;
          text-align: left; }
          .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) .div1 .divzi p {
            margin-bottom: 10px; }
          .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) .div1 .divzi span {
            color: orangered; }
        .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) .div1 .div-p {
          float: right;
          margin-right: 20px;
          margin-top: 10px; }
          .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) .div1 .div-p img {
            width: 110px;
            height: 110px; }
        .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) .div1 .div-p1 {
          float: right;
          margin-top: 35px;
          margin-right: 40px; }
      .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) .div1:hover {
        box-shadow: 5px 5px 10px 2px #ccc;
        transform: scale(1.02); }
      .mains .jiaD .jiaD-div .jiaD-div-right li:nth-of-type(8) hr {
        height: 12px;
        background: #F5F5F5;
        border: none; }
    .mains .jiaD .jiaD-div .jiaD-div-right li:hover {
      box-shadow: 5px 5px 10px 2px #ccc;
      transform: scale(1.02); }
  .mains h3 {
    width: 100%;
    font-size: 1.4rem;
    line-height: 25px;
    margin-top: 42px; }
    .mains h3 .h3-a {
      float: left; }
    .mains h3 .h3-b {
      float: right;
      font-size: 1.4px; }
      .mains h3 .h3-b span {
        display: inline-block;
        border: 1px solid #ccc;
        text-align: center;
        float: left;
        height: 15px;
        width: 20px;
        line-height: 15px;
        margin-top: 4px; }
      .mains h3 .h3-b span:nth-of-type(1) {
        color: #ccc;
        border-right: none; }
  .mains .ul-tiu-j {
    margin-top: 16px;
    padding-bottom: 40px; }
    .mains .ul-tiu-j li {
      width: 235.6px;
      background: #FAFAFA;
      text-align: center;
      font-size: 14px;
      padding-bottom: 42px;
      float: left;
      margin-left: 12px;
      transition: 0.3s; }
      .mains .ul-tiu-j li a {
        color: #000000; }
        .mains .ul-tiu-j li a p:nth-of-type(1) {
          padding-top: 40px;
          width: 110px;
          margin: 0 auto; }
          .mains .ul-tiu-j li a p:nth-of-type(1) img {
            width: 100%; }
        .mains .ul-tiu-j li a p:nth-of-type(2) {
          margin-top: 36px; }
        .mains .ul-tiu-j li a p:nth-of-type(3) {
          margin-top: 12px;
          color: #ccc; }
        .mains .ul-tiu-j li a span {
          display: block;
          margin-top: 17px;
          color: #FF752F; }
    .mains .ul-tiu-j li:nth-of-type(1) {
      margin-left: 0; }
    .mains .ul-tiu-j li:hover {
      box-shadow: 5px 5px 10px 2px #ccc;
      transform: scale(1.02);
      margin-top: -5px; }
  .mains h4 {
    font-size: 2rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem; }
  .mains .rePing li {
    width: 291px;
    float: left;
    margin-left: 12px;
    background: white;
    font-size: 14px; }
    .mains .rePing li img {
      width: 291px; }
    .mains .rePing li p:nth-of-type(1) {
      margin: 2rem;
      line-height: 1.6rem; }
    .mains .rePing li p:nth-of-type(2) {
      margin: 0 2rem;
      color: #ccc; }
    .mains .rePing li p:nth-of-type(3) {
      margin: 0.6rem 2rem 2rem; }
      .mains .rePing li p:nth-of-type(3) span {
        color: orangered;
        margin-left: 1rem; }
  .mains .rePing li:nth-of-type(1) {
    margin-left: 0; }
  .mains .rePing li:hover {
    box-shadow: 5px 5px 10px 2px #ccc;
    transform: scale(1.02);
    margin-top: -5px; }
  .mains .nR li {
    width: 291px;
    float: left;
    margin-left: 12px;
    text-align: center;
    background: white; }
  .mains .nR li:nth-of-type(1) {
    margin-left: 0;
    border-top: #FDB83C 2px solid; }
    .mains .nR li:nth-of-type(1) p:nth-of-type(1) {
      color: #FDB83C;
      margin-top: 4rem; }
    .mains .nR li:nth-of-type(1) p:nth-of-type(2) {
      margin-top: 2rem;
      font-size: 18px; }
    .mains .nR li:nth-of-type(1) p:nth-of-type(3) {
      color: #ccc;
      line-height: 1.6rem;
      width: 160px;
      margin: 0 auto;
      margin-top: 0.6rem;
      font-size: 12px; }
    .mains .nR li:nth-of-type(1) p:nth-of-type(4) {
      margin: 0.6rem 0 1rem; }
    .mains .nR li:nth-of-type(1) p:nth-of-type(6) {
      margin-bottom: 1rem; }
      .mains .nR li:nth-of-type(1) p:nth-of-type(6) span {
        display: inline-block;
        width: 5px;
        height: 5px;
        border: 1px solid #FDB83C;
        border-radius: 50%;
        margin: 0 1rem; }
      .mains .nR li:nth-of-type(1) p:nth-of-type(6) span:nth-of-type(2) {
        border: none;
        background: #ccc; }
      .mains .nR li:nth-of-type(1) p:nth-of-type(6) span:nth-of-type(3) {
        border: none;
        background: #ccc; }
  .mains .nR li:nth-of-type(2) {
    border-top: #96CC6A 2px solid; }
    .mains .nR li:nth-of-type(2) p:nth-of-type(1) {
      color: #96CC6A;
      margin-top: 4rem; }
    .mains .nR li:nth-of-type(2) p:nth-of-type(2) {
      margin-top: 2rem;
      font-size: 18px; }
    .mains .nR li:nth-of-type(2) p:nth-of-type(3) {
      color: #ccc;
      line-height: 1.6rem;
      width: 160px;
      margin: 0 auto;
      margin-top: 0.6rem;
      font-size: 12px; }
    .mains .nR li:nth-of-type(2) p:nth-of-type(4) {
      margin: 0.6rem 0 1rem; }
    .mains .nR li:nth-of-type(2) p:nth-of-type(6) {
      margin-bottom: 1rem; }
      .mains .nR li:nth-of-type(2) p:nth-of-type(6) span {
        display: inline-block;
        width: 5px;
        height: 5px;
        border: 1px solid #96CC6A;
        border-radius: 50%;
        margin: 0 1rem; }
      .mains .nR li:nth-of-type(2) p:nth-of-type(6) span:nth-of-type(2) {
        border: none;
        background: #ccc; }
      .mains .nR li:nth-of-type(2) p:nth-of-type(6) span:nth-of-type(3) {
        border: none;
        background: #ccc; }
      .mains .nR li:nth-of-type(2) p:nth-of-type(6) span:nth-of-type(4) {
        border: none;
        background: #ccc; }
  .mains .nR li:nth-of-type(3) {
    border-top: #E85956 2px solid; }
    .mains .nR li:nth-of-type(3) p:nth-of-type(1) {
      color: #E85956;
      margin-top: 4rem; }
    .mains .nR li:nth-of-type(3) p:nth-of-type(2) {
      margin-top: 2rem;
      font-size: 18px; }
    .mains .nR li:nth-of-type(3) p:nth-of-type(3) {
      color: #ccc;
      line-height: 1.6rem;
      width: 160px;
      margin: 0 auto;
      margin-top: 0.6rem;
      font-size: 12px; }
    .mains .nR li:nth-of-type(3) p:nth-of-type(4) {
      margin: 0.6rem 0 1rem; }
    .mains .nR li:nth-of-type(3) p:nth-of-type(6) {
      margin-bottom: 1rem; }
      .mains .nR li:nth-of-type(3) p:nth-of-type(6) span {
        display: inline-block;
        width: 5px;
        height: 5px;
        border: 1px solid #E85956;
        border-radius: 50%;
        margin: 0 1rem; }
      .mains .nR li:nth-of-type(3) p:nth-of-type(6) span:nth-of-type(2) {
        border: none;
        background: #ccc; }
      .mains .nR li:nth-of-type(3) p:nth-of-type(6) span:nth-of-type(3) {
        border: none;
        background: #ccc; }
  .mains .nR li:nth-of-type(4) {
    border-top: #47A6F3 2px solid; }
    .mains .nR li:nth-of-type(4) p:nth-of-type(1) {
      color: #47A6F3;
      margin-top: 4rem; }
    .mains .nR li:nth-of-type(4) p:nth-of-type(2) {
      margin-top: 2rem;
      font-size: 18px; }
    .mains .nR li:nth-of-type(4) p:nth-of-type(3) {
      color: #ccc;
      line-height: 1.6rem;
      width: 160px;
      margin: 0 auto;
      margin-top: 0.6rem;
      font-size: 12px; }
    .mains .nR li:nth-of-type(4) p:nth-of-type(4) {
      margin: 0.6rem 0 1rem; }
    .mains .nR li:nth-of-type(4) p:nth-of-type(6) {
      margin-bottom: 1rem; }
      .mains .nR li:nth-of-type(4) p:nth-of-type(6) span {
        display: inline-block;
        width: 5px;
        height: 5px;
        border: 1px solid #47A6F3;
        border-radius: 50%;
        margin: 0 1rem; }
      .mains .nR li:nth-of-type(4) p:nth-of-type(6) span:nth-of-type(2) {
        border: none;
        background: #ccc; }
      .mains .nR li:nth-of-type(4) p:nth-of-type(6) span:nth-of-type(3) {
        border: none;
        background: #ccc; }
  .mains .nR li:hover {
    box-shadow: 5px 5px 10px 2px #ccc;
    transform: scale(1.02);
    margin-top: -5px; }
  .mains h5 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.4rem; }
    .mains h5 span:nth-of-type(1) {
      float: left;
      font-size: 1.4rem; }
    .mains h5 span:nth-of-type(2) {
      float: right;
      margin-top: 0.4rem;
      font-size: 14px; }
      .mains h5 span:nth-of-type(2) b {
        display: inline-block;
        width: 13px;
        height: 13px;
        background: #ccc;
        border-radius: 50%;
        text-align: center;
        color: white;
        margin-left: 0.6rem; }
  .mains .shiPin li {
    width: 291px;
    float: left;
    text-align: center;
    margin-left: 12px;
    background: white;
    position: relative; }
    .mains .shiPin li img {
      width: 100%; }
    .mains .shiPin li .kai {
      position: absolute;
      top: 130px;
      left: 20px;
      width: 40px;
      height: 30px; }
    .mains .shiPin li p:nth-of-type(1) {
      margin-top: 2rem;
      font-size: 14px; }
    .mains .shiPin li p:nth-of-type(2) {
      margin-top: 0.8rem;
      margin-bottom: 2rem;
      color: #ccc;
      font-size: 12px; }
  .mains .shiPin li:nth-of-type(1) {
    margin-left: 0; }
  .mains .shiPin li:hover {
    box-shadow: 5px 5px 10px 2px #ccc;
    transform: scale(1.02);
    margin-top: -5px; }

footer .di {
  width: 1200px;
  margin: 0 auto; }
  footer .di .weixiu {
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding: 0.6rem 0; }
    footer .di .weixiu li {
      width: 240px;
      float: left;
      text-align: center; }
      footer .di .weixiu li p:nth-of-type(1) {
        margin-top: 8px;
        width: 120px;
        float: left;
        text-align: end; }
      footer .di .weixiu li p:nth-of-type(2) {
        margin-top: 16px;
        width: 117px;
        float: left;
        text-align: left;
        border-right: 1px solid #ccc; }
    footer .di .weixiu li:nth-of-type(5) p:nth-of-type(2) {
      border-right: none; }
footer #lianjie {
  width: 1200px;
  margin: 0 auto; }
  footer #lianjie .yikuai {
    width: 975px;
    float: left;
    margin-top: 3rem; }
    footer #lianjie .yikuai ul {
      float: left; }
      footer #lianjie .yikuai ul li {
        margin-bottom: 1rem; }
      footer #lianjie .yikuai ul li:nth-of-type(1) {
        margin-bottom: 2rem; }
    footer #lianjie .yikuai ul:nth-of-type(2) {
      margin-left: 100px; }
    footer #lianjie .yikuai ul:nth-of-type(3) {
      margin-left: 100px; }
    footer #lianjie .yikuai ul:nth-of-type(4) {
      margin-left: 100px; }
    footer #lianjie .yikuai ul:nth-of-type(5) {
      margin-left: 100px; }
    footer #lianjie .yikuai ul:nth-of-type(6) {
      margin-left: 100px; }
  footer #lianjie .erkuai {
    width: 224px;
    float: left;
    border-left: 1px solid #ccc;
    text-align: center;
    margin-top: 3rem; }
    footer #lianjie .erkuai p:nth-of-type(1) {
      color: orangered;
      font-size: 1.6rem; }
    footer #lianjie .erkuai p:nth-of-type(2) {
      width: 100px;
      margin: 0 auto;
      margin-top: 1rem;
      line-height: 1.4rem; }
    footer #lianjie .erkuai p:nth-of-type(3) {
      width: 100px;
      margin: 0 auto;
      margin-top: 1rem;
      border: 1px solid orangered;
      padding: 0.4rem;
      color: orangered; }

/*# sourceMappingURL=xiaomi.css.map */
