@charset "utf-8";
@import "reset.css";

.clearfix:after{
                display: block;
                clear: both;
                content: '';
            }

.ban-n{
    height: 120px;
    background: #EEEEEE;
    .ban-box{
        width: 1226px;
        margin: 0 auto;
        img{
//          margin: 100%;
        }
    }
}

nav{
    background: #363636;
    width: 100%;
    height: 40px;
    font-size: 12px;
    .dao-h{
        width: 1226px;
        margin: 0 auto;
        .ul-daoh{
            float: left;
            margin-top: 14px;
            li{
                float: left;
                a{
                    display: inline-block;
                    padding: 0 0.9rem 0 0.8rem;
                    border-left: 1px solid #454545;
                    color: #B0B0B0;
                    line-height: 12px;
                }
                a:hover{
                    color: orangered;
                }
            }
            li:nth-of-type(1){
                a{
                    padding-left: 0;
                    border-left: none;
                }
            }
        }
        .nav-r{
            float: right;
            .ul-dengl{
                float: left;
                line-height: 40px;
                li{
                    float: left;
                    
                    a{
                        border-left: 1px solid #454545;
                        padding: 0 7px;
                        color: #B0B0B0;
                        display: inline-block;
                        line-height: 12px;
                    }
                    a:hover{
                        color: orangered;
                    }
                }
                li:nth-of-type(1){
                    a{
                        border-left: none;
                    }
                }
            }
            .xiaoxi{
                float: left;
                padding: 0 18px 0 0px;
                margin-top: 14px;
                a{
                    border-left: 1px solid #454545;
                    padding: 0 0.7rem;
                    color: #B0B0B0;
                    display: inline-block;
                    line-height: 12px;
                }
            }
            .gouwuche{
                width: 120px;
                height: 40px;
                background: #424242;
                float: left;
                text-align: center;
                position: relative;
                a{
                    color: #B0B0B0;
                    img{
                        margin-top: 14px;
                        float: left;
                        margin-left: 18px;
                    }
                    span{
                        float: left;
                        margin-top: 14px;
                        margin-left: 4px;
                    }
                }
                .nav-che{
                    width: 300px;
                    height: 100px;
                    background: yellow;
                    position: absolute;
                    top: 40px;
                    left: -150px;
                    z-index: 3;
                    display: none;
                }
            }
        }
    }
}

main{
    width: 1226px;
    margin: 0 auto;
    .xiaomi-ss{
        height: 100px;
        p{
            float: left;
            margin-top: 21px;
        }
        p:nth-of-type(2){
            margin-left: 80px;
        }
        .ul-jies{
            float: left;
            font-size: 12px;
            margin-top: 41px;
            margin-left: 70px;
            li{
                float: left;
                margin: 0 10px;
                a{
                    color: #000;
                }
                a:hover{
                    color: orangered;
                }
            }
        }
        h6{
            float: right;
            margin-top: 28px;
            input{
                float: left;
                height: 30px;
                text-align: center;
            }
            span{
                float: left;
                display: block;
                border: 1px solid #A9A9A9;
                border-left: none;
                height: 34px;
                img{
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    
    .lun-bo{
        position: relative;
        height: 460px;
        .swiper-pagination{
            text-align: end;
            margin-left: -100px;
            
        }
        .yi{
            position: absolute;
        }
        .er{
            position: absolute;
        }
        .san{
            position: absolute;
        }
        .si{
            position: absolute;
        }
        .wu{
            position: absolute;
        }
        .ul-ding{
            position: absolute;
            width: 235px;
            font-size: 12px;
            padding: 20px 0px;
            background: rgba(0,0,0,0.4);
            z-index: 200;
            top: 0px;
            li{
                position: relative;
                padding: 15px 15px;
                color: white;
                p:nth-of-type(1){
                    float: left;
                }
                p:nth-of-type(2){
                    float: right;
                }
                .che-li1{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -20px;
                    display: none;
                    font-size: 40px;
                }
                .che-li2{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -62px;
                    display: none;
                    font-size: 40px;
                }
                .che-li3{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -104px;
                    display: none;
                    font-size: 40px;
                }
                .che-li4{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -146px;
                    display: none;
                    font-size: 40px;
                }
                .che-li5{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -188px;
                    display: none;
                    font-size: 40px;
                }
                .che-li6{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -230px;
                    display: none;
                    font-size: 40px;
                }
                .che-li7{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -272px;
                    display: none;
                    font-size: 40px;
                }
                .che-li8{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -314px;
                    display: none;
                    font-size: 40px;
                }
                .che-li9{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -356px;
                    display: none;
                    font-size: 40px;
                }
                .che-li10{
                    width: 800px;
                    height: 450px;
                    background: orangered;
                    position: absolute;
                    left: 235px;
                    top: -398px;
                    display: none;
                    font-size: 40px;
                }
            }
            li:hover{
                background: red;
                cursor: pointer;
                div{
                    display: block;
                }
            }
        }
        
        .img1{
            position: absolute;
            z-index: 8;
            top: 200px;
            left: 250px;
            cursor: pointer;
        }
        .img2{
            position: absolute;
            z-index: 8;
            top: 200px;
            right: 10px;
            cursor: pointer;
        }
        .dian{
            position: absolute;
            top: 420px;
            text-align: end;
            width: 100%;
            margin-right: 20px;
            span{
                display: inline-block;
                width: 8px;
                height: 8px;
                border: 1px solid white;
                border-radius: 50%;
                background: #000;
                opacity: 0.4;
            }
            span:nth-of-type(5){
                margin-right: 50px;
                background: white;
            }
        }
    }
    
    .gong-n{
        width: 100%;
        margin-top: 12px;
        .gong-n1{
            width: 230px;
            background: #5F5750;
            float: left;
            padding: 0 3px 0 2px;
            ol{
                width: 100%;
                li{
                    float: left;
                    width: 76px;
                    text-align: center;
                    padding: 20px 0;
                    font-size: 12px;
                    p{
                        margin-top: 6px;
                        color: white;
                    }
                }
                li:nth-of-type(1){
                    border-bottom: 1px solid #ccc;
                }
                li:nth-of-type(2){
                    border: 1px solid #ccc;
                    border-top: none;
                }
                li:nth-of-type(3){
                    border-bottom: 1px solid #ccc;
                }
                li:nth-of-type(5){
                    border: 1px solid #ccc;
                    border-top: none;
                    border-bottom: none;
                }
            }
        }
        .ul-n2{
            width: 991px;
            float: left;
            li{
                width: 318px;
                float: left;
                margin-left: 12px;
                img{
                    width: 100%;
                }
            }
        }
    }
    
    h3{
        width: 100%;
        font-size: 1.4rem;
        line-height: 25px;
        margin-top: 42px;
        .h3-a{
            float: left;
        }
        .h3-b{
            float: right;
            font-size: 1.4px;
            span{
                display: inline-block;
                border: 1px solid #ccc;
                text-align: center;
                float: left;
                height: 15px;
                width: 20px;
                line-height: 15px;
                margin-top: 4px;
            }
            span:nth-of-type(1){
                color: #ccc;
                border-right: none;
            }
        }
    }
    
    .ul-xiaomi{
        margin-top: 16px;
        padding-bottom: 40px;
        
        li{
            width: 235.6px;
            background: #FAFAFA;
            text-align: center;
            font-size: 14px;
            padding-bottom: 42px;
            float: left;
            margin-left: 12px;
            transition: 0.3s;
            a{
                color: #000000;
                p:nth-of-type(1){
                    padding-top: 40px;
                    width: 110px;
                    margin: 0 auto;
                    img{
                        width: 100%;
                    }
                }
                p:nth-of-type(2){
                    margin-top: 36px;
                }
                p:nth-of-type(3){
                    margin-top: 12px;
                    color: #ccc;
                }
                span{
                    display: block;
                    margin-top: 17px;
                    color: #FF752F;
                }
            }
        }
        li:nth-of-type(1){
            border-top: #FCE1B0 2px solid;
            margin-left: 0;
        }
        li:nth-of-type(2){
            border-top: #D4E9C3 2px solid;
        }
        li:nth-of-type(3){
            border-top: #B5DAF8 2px solid;
        }
        li:nth-of-type(4){
            border-top: #F3BCBB 2px solid;
        }
        li:nth-of-type(5){
            border-top: #AAE7DF 2px solid;
        }
        li:hover{
            box-shadow: 5px 5px 10px 2px #ccc;
            transform: scale(1.02);  
            margin-top: -5px; 
        }
    }
    
}
